* {
  margin: 0;
  padding: 0
}

html, body, #root {
  height: 100%;
  overflow: auto;
  max-width: 100%;
}

body {
  background: #f7f8fa;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}